.card-lateral{

    background-color: #27DB8F;
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    border-radius: 30px;
   

}

.card-lateral:hover{
    background-color: #20ad72;
    transition: background .6s;
}

.link-lateral:hover{
    text-decoration: none;
}

.titulo{

    text-align: center;
    color: #ffffff;
    
    border-radius: 10px;
    background-color: #27DB8F;
   

}

.card-paciente{

    background-color: #c5eedd;
    width: 80%;
    box-shadow: 3px 3px 3px gray;
    padding: 20px;
    color: black;
    border-radius: 10px;
    transition: background .6s;
    

}
.card-paciente:hover{
    background-color: #27DB8F;
}


.link-hover:hover{
    text-decoration: none;
}

.foto-perfil{
    text-align: center;
}

.dados{
    font-weight: bold;
    text-align: center;
}

.descricao{

    margin-left: -12%;
    

}

@media (max-width: 1300px)
{

    .descricao{

        margin-left: 1px;
    
    }

}

