{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'exames/css/css.css' %}" rel="stylesheet">
    <link href="{% static 'exames/css/gerenciar_pedidos.css' %}" rel="stylesheet">
    <link href="{% static 'exames/css/gerenciar_exames.css' %}" rel="stylesheet">
{% endblock 'head' %}


{% block 'conteudo' %}
    <br><br>
    
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <h3>{{exame.exame.nome}}</h3>
        <br>
        <form action="{% url "solicitar_senha_exame" exame.id %}" method="POST">{% csrf_token %}
            
            <label>Senha de acesso</label>
            <br>
            <input type="text" name="senha" class="form-control" style="width: 40%">
            <br>

            <input type="submit" class="btn-default">
            
        </form>
        
    </div>

{% endblock 'conteudo' %}