{% extends 'base_main.html' %}
{% load static %}

{% block 'main' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <br>
		<h1 class="titulo">Escolha o paciente</h1>
    <div  class="row">
        {% for paciente in pacientes%}
            <div class="col-md-4">
                <a href="{% url 'patient_data' paciente.id %}" class="link-hover">
                    <div class="card-paciente">
                        <div class="foto-perfil">
                           
                            {% if paciente.sexo == "M"%}
                                <img src="{% static 'main/img/perfil2.png' %}">
                            {% else %}
                                <img src="{% static 'main/img/perfil1.png' %}">
                            {% endif %}
                        </div>
                        <br>
                        <p class="dados">{{paciente.nome}}</p>
                        <p class="dados">{{paciente.idade}} Anos</p>
                        <p class="dados">{{paciente.email}}</p>
                        
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>

{% endblock%}