{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %}

    <link href="{% static 'usuarios/css/css.css' %}" rel="stylesheet">

{% endblock 'head' %}



{% block 'conteudo' %}
    <div class="container">

        <h3 class="font-destaque-secundaria"> <img width="10%" src="{% static 'geral/img/logo.png' %}" alt="">Cadastre-se</h3>

        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}


        <div>
            <form action="{% url 'logar' %}" method="POST">{% csrf_token %}
                <label>Username</label>
                <br>
                <input type="text" class="input-default" name="username">
                <br>
                <br>
                <label>Senha</label>
                <br>
                <input type="text" class="input-default" name="senha">
                <br>
                <br>
                <input type="submit" class="btn-default" value="Logar">
            </form>
        </div>
    </div>
{% endblock %}