{% extends 'base.html' %}


{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'main/css/food_plan.css' %}">
{% endblock %}


{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'patient' %}" class="link-lateral">
                <div class="card-lateral">
                    <img src="{% static 'main/img/paciente.png' %}">
                    <br>
                    <br>

                    <h3>Gerenciar Paciente</h3>
                </div>
                </a>

                <a href="{% url 'patient_data_list' %}" class="link-lateral">
                <div class="card-lateral">
                    <img src="{% static 'main/img/dados_paciente.png' %}">
                    <br>
                    <br>
                    <h3>Dados do Paciente</h3>
                </div>
                </a>

                <a href="{% url 'food_plan_list' %}" class="link-lateral">
                <div class="card-lateral">
                    <img src="{% static 'main/img/plano_alimentar.png' %}">
                    <br>
                    <br>

                    <h3>Plano alimentar</h3>
                </div>
                </a>

            </div>

            <div class="col-md-8">
                {% block 'main' %}
                    

                {% endblock %}
                
            </div>
            
        </div>
    </div>
{% endblock%}